body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: #e7e7e7;
}

.main {
  margin: 0.5rem;
}

.container {
  background: #fff;
  border-radius: 1rem;
  height: 100%;
}

.calender {
  display: grid;
}

.calender__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.calender__page-month {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

.calender__page-month p {
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 500;
}

.calender__month-dropdown svg {
  width: 0.5rem;
  fill: grey;
}

.calender__page-year {
  font-size: 13px;
  font-weight: 600;
  color: #aaaaaa;
}

.calender__week {
  font-size: 15px;
  font-weight: 600;
  color: #aaaaaa;
  text-transform: uppercase;
  border: #e7e7e7;
  border-top-style: solid;
}

.calender__week,
.calender__date {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calender__week-day {
  padding: 1rem;
  text-align: center;
}

.calender__date {
  grid-template-rows: repeat(5, 1fr);
}

.calender__date-item {
  padding: 1rem 1.25rem;
  text-align: right;
  border: #e7e7e7 1px solid;
}

.calender__date-item:first-child {
  grid-area: 1 / 1 / 2 / 2;
}

.calender__date-item:first-of-type,
.calender__date-item:nth-child(8n) {
  border-left: 0;
}

.calender__date-item:nth-child(7n) {
  border-right: 0;
}

.calender__date-item:nth-child(2) {
  grid-area: 1 / 1 / 2 / 3;
}

.calender__date-item:nth-child(3) {
  grid-area: 1 / 1 / 2 / 4;
}

.calender__date-item:nth-child(4) {
  grid-area: 1 / 1 / 2 / 5;
}

.calender__date-item:nth-child(5) {
  grid-area: 1 / 1 / 2 / 6;
}

.calender__date-item:nth-child(6) {
  grid-area: 1 / 1 / 2 / 7;
}

.calender__date-item:nth-child(9) {
  grid-area: 2 / 2 / 3 / 3;
}

.calender__date-item:nth-child(10) {
  grid-area: 2 / 3 / 3 / 4;
}

.calender__date-item:nth-child(11) {
  grid-area: 2 / 4 / 3 / 5;
}

.calender__date-item:nth-child(12) {
  grid-area: 2 / 5 / 3 / 6;
}

.calender__date-item:nth-child(13) {
  grid-area: 2 / 6 / 3 / 7;
}

.calender__date-item:nth-child(17) {
  grid-area: 3 / 3 / 4 / 4;
}

.calender__date-item:nth-child(18) {
  grid-area: 3 / 4 / 4 / 5;
}

.calender__date-item:nth-child(19) {
  grid-area: 3 / 5 / 4 / 6;
}

.calender__date-item:nth-child(34) {
  grid-area: 5 / 6 / 6 / 7;
}

.calender__date-item:nth-child(35) {
  grid-area: 5 / 7 / 6 / 8;
}

.calender__event-1,
.calender__event-2,
.calender__event-3,
.calender__event-4 {
  text-align: left;
  padding: 0 20px;
  margin: 0 10px 8px 10px;
  height: 28px;
  transition: all 0.2s ease-in;
  border-top: 0;
  border-bottom: 0;
  border-left: 5px solid;
}

.calender__event-1 {
  margin-top: 40px;
  grid-area: 2 / 4 / 3 / 7;
  z-index: 1;
  color: #ee6e0c;
  background: #ffbb87c2;
}

.calender__event-1:hover {
  color: #fff;
  background: #ee6e0c;
  border-left-color: #ee6e0c;
  box-shadow: rgba(238, 110, 12, 0.4) 0px 4px 12px;
}

.calender__event-2 {
  grid-area: 2 / 2 / 3 / 5;
  color: #b2001d;
  background: #ffc3cd;
}

.calender__event-2:hover {
  color: #fff;
  background-color: #b2001d;
  border-left-color: #b2001d;
  box-shadow: rgba(178, 0, 29, 0.4) 0px 4px 12px;
}

.calender__event-3 {
  grid-area: 3 / 3 / 4 / 6;
}

.calender__event-3:hover,
.calender__event-4:hover {
  color: #fff;
  background: #0c89d1;
  border-left-color: #0c89d1;
  box-shadow: rgba(12, 137, 209, 0.4) 0px 4px 12px;
}

.calender__event-4 {
  grid-area: 5 / 6 / 6 / 8;
}

.calender__event-3,
.calender__event-4 {
  color: #0c89d1;
  background: #ebfbff;
}

.calender__event-2,
.calender__event-3,
.calender__event-4 {
  margin-top: 73px;
}

.calender__event-1:hover,
.calender__event-2:hover,
.calender__event-3:hover,
.calender__event-4:hover {
  border-radius: 4px;
}

.calender__past-month {
  grid-area: 1 / 1 / 2 / 6;
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 20px,
    #d1d1d1 20px,
    #d1d1d1 40px
  );
  z-index: 2;
}

.calender__date-item:first-child,
.calender__date-item:nth-child(2),
.calender__date-item:nth-child(3),
.calender__date-item:nth-child(4),
.calender__date-item:nth-child(5),
.calender__date-item:nth-child(6) {
  z-index: 3;
}
